# Environment Variables
frontend/.env
frontend/.env.local
frontend.env.*.local
backend/.env
backend/.env.local
backend.env.*.local
.env.local
.env.*.local
.env

# Node Modules
frontend/node_modules/
backend/node_modules/