@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

html {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none;
}

body {
  font-family: 'Manrope';
  margin: 0;
  font-weight: 550;
  font-size: 1rem;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background: #0e0e0e;
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(240, 240, 240);
}

img {
  width: 25px;
}

.github-logo, .create-habit-icon {
  margin-bottom: -4px;
  margin-left: 10px;
}

.create-habit-icon:hover, .github-logo:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

h1, h2, h3, h4, p, span {
  /* margin: 0; */
}

.navigation {
  display: flex;
  align-items: center;
  background-color: #171717;
  height: 50px;
  position: sticky;
  width: 100%;
}

.nav-left {
  display: flex; align-items: center; justify-content: center;
  width: 10rem;
}

.nav-mid {
  flex: 1;
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin: 2rem;
}

.nav-right {
  /* border: 2px dashed yellow; */
  display: flex; align-items: center; justify-content: center; gap: 0.75rem;
  margin-left: auto;
  width: 10rem;
}

.icon {
  width: 20px;
  margin: 8px;
}

.habitlink {
  font-weight: 800;
}

.nav-mid a, .nav-right a {
  border-radius: 5px;
  text-decoration: none;
  color: #dfdfdf;
  padding: 2px 20px 2px 20px;
  font-size: 16px;
  font-weight: 600;
}

.nav-right a {
  margin-left: -18px;
}

.nav-user {
  color: #e4e4e4;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}

.nav-user:hover {
  text-decoration: underline;
}

.nav-mid a:hover, .nav-right a:hover {
  background-color: #141414;
}

.user-icon {
  width: 25px;
  padding: 10px;
}

.profile-picture {
  width: 24px;
  border-radius: 100%;
}

.home {
  margin: auto;
  padding: 0;
  width: 90%;
  height: 100%;
  display: flex; flex-direction: column; align-items: center;
}

.home-mid {
  /* border: 2px dashed lightsalmon; */
  margin-top: 15px;
  height: 100%;
  display: flex; justify-content: center; gap: 2rem; flex-wrap: wrap;
  width: 100%;
}

.home-habits {
  display: flex; flex-direction: column; align-items: center; text-align: center;
  /* border: 2px dashed lightblue; */
  border-radius: 6px;
  background-color: #161616;
  /* border: 3px solid #1f1f1f; */
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 10px;
}

.home-habits h2 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
.home-habits h5 {
  font-size: 15px;
  color: #c5c5c5;
  margin: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}

.hero {
  /* border: 2px dashed lightcyan; */
  display: flex; align-items: center; justify-content: center; gap: 2rem; 
  width: 100%;
}

@media (max-width: 700px) {
  .hero {
    flex-wrap: wrap;
  }
}

.intro {
  width: 280px;
  min-width: 280px;
  border-radius: 6px;
  background-color: #171717;
  height: 225px;
  padding: 15px;
  margin-top: 25px;
}

.intro:hover, .habits-graph-div:hover {
  transition: 0.3s ease;
  transform: scale(1.02);
}

.intro h3 {
  padding: 10px;
  margin: 0;
}

.intro p {
  color: #b3b3b3;
  padding: 10px;
  font-size: 15px;
  margin: 0;
}

.habits-graph-div {
  width: 700px;
  /* border: 2px dashed lightcoral; */
  border-radius: 6px;
  background-color: #171717;
  height: 225px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  display: flex; flex-direction: column; align-items: center;
}

.habits-graph-div h3 {
  margin-bottom: 10px;
}

.home-calendar {
  /* border: 2px dashed lightcoral; */
  height: 400px;
  padding: 10px;
  margin: 25px;
  background-color: #161616;
  border-radius: 12px;
  /* align-self: center; */
}

.habit-buttons {
  /* width: 70%; height: 100%; */
  /* border: 2px dashed lightblue; */
  display: flex; justify-content: flex-end; align-items: center;
}


.view-analytics, .share-habit {
  border: none;
  background-color: #282828;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  /* margin: 15px; */
  height: 15px;
}

.login {
  max-width: 20rem;
  margin: 5rem auto;
  padding: 0 1.25rem 1.875rem;
  color: rgb(240, 240, 240);
  border-radius: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  background-color: #171717;
}

.login h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.login label {
  font-weight: 500;
  font-size: 0.875rem;
}

.login input {
  padding: 0.625rem 0.75rem;
  /* border: 0.0625rem solid #202020; */
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  transition: border 0.2s ease;
  width: 250px;
  background-color: #252525;
  color: white;
}

.login input:-webkit-autofill {
  filter: none !important;
  -webkit-filter: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important;
}

.login button {
  background-color: #00ffbf79;
  background-color: transparent;
  border: 1px solid #202020;
  color: white;
  border-radius: 0.35rem;
  padding: 0.625rem 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Segoe UI', sans-serif;
  width: 275px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.815);
  color:#151515;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login button:hover {
  transition: 0.7s ease;
  background-color: #ffffff;
}

.login button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  font-family: 'Manrope';
  color: rgb(255, 85, 107);
  font-size: 0.8125rem;
  font-weight: 700;
}

.login + p,
.login + h3 {
  text-align: center;
  margin-top: 1.25rem;
}

h1, h2, h3, h4 {
  font-weight: 600;
  /* color: #FFFFFF; */
}

h1 {
  font-size: 25px;
}

.navigation a:hover {
  /* box-shadow: 0 0.5rem 1rem rgba(83, 231, 182, 0.73); */
  color: #1ddab1;
  transform: scale(1.5);
}

/* .navigation button {
  background-color: transparent;
  color: #d44343;
  border: 0.0125rem solid #f44336;
  font-family: 'Segoe UI', sans-serif;
  padding: 0.125rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
} */

.logout {
  font-family: 'Manrope';
  margin-left: 10px;
  font-size: 10px;
  font-weight: 700;
  border: none;
  color: #ff655a;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px dotted #ca4e45; */
  border-radius: 5px;
  margin-bottom: -1px;
  margin-left: -10px;
  transition: 0.4s ease;
  background-color: transparent;
}

.navigation button:hover {
  background-color: #f74d41d3;
  color: #ffffff;
}

.habit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 1.875rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 21.875rem;
  max-width: 90%;
  color: black;
}

.create-habit-form {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.create-habit-form h3 {
  margin: 0 0 0.625rem 0;
  font-size: 1.375rem;
  text-align: center;
}

.create-habit-form input,
.create-habit-form select {
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.create-habit-form label {
  font-size: 0.875rem;
  font-weight: 500;
}

.create-habit-form button,
.create-habit-button,
.close-popup {
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  background-color: #292929;
  color: white;
  transition: background-color 0.2s ease;
}


.create-habit-button {
  align-self: center;
  border-radius: 5px;
  height: 25px;
  height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  font-family: 'Manrope';
  font-weight: 700;
  margin-top: 15px;
  border: 2px solid #1f1f1f;
}

.create-habit-form button:hover,
.create-habit-button:hover,
.close-popup:hover {
  transition: 1.2s ease;
  color:#50f9ff;
}

.close-popup {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: #f44336;
  font-size: 0.75rem;
  padding: 0.375rem 0.625rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.user-habits,
.friend-habits,
.public-habits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem;
  color: #ffffff;
}

.advanced-habit-info {
  margin-top: 30px;
  /* height: 10%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.advanced-habit-info p {
  /* border: 1px solid orange; */
  margin: 6px;
  font-size: 15px;
  text-align: center;
}

.synced-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  /* border: 2px solid red; */
}

.synced-stats h3 {
  font-weight: 600;
}

.calendar {
  /* border: 2px solid red; */
  height: 400px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.completion-graph, .calendar-container, .synced-users {
  width: 390px;
  margin: 0px 15px 0px 15px;
  /* height: 350px; */
  height: 400px;
  /* border: 2px solid #202020; */
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completion-graph:hover, .calendar-container:hover, .synced-users:hover {
  transform: scale(1.01);
  transition: 0.3s ease;
}

.advanced-habit {
  width: 100vw;
  /* height: 100%; */
  background-color: #0f0f0f;
  color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 25px;
}

.habit-categories button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 26px;
  font-weight: 600;
  font-family: 'Manrope';
  transition: 0.3s ease;
  margin: 0px 7px 0px 7px;
}

.habit-categories button:hover {
  color: #1ddab1;
  transform: scale(1.1);
}

.habits {
  display: flex;
  justify-content: center;
}

.underline {
  display: flex;
  height: 2px;
  margin: 0px 0px 15px 0px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(135deg, #2ae6ffd2 0%, #50dab7 100%);
  background: #4df3ff;
}

.user-habits {
  /* border: 3px solid #202020; */
  background: #161616;
  padding: 25px 20px 35px 20px;
  border-radius: 10px;
  width: 325px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top:10px;
}

.user-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

.create-habit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem;
  color: #ffffff;
  background-color: #141414;
  padding: 10px 10px 15px 10px;
  border-radius: 16px;
  width: 325px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top:10px;
}

.habit {
  border-radius: 12px;
  width: clamp(280px, 80%, 600px);
  height: 2.7rem;
  color: rgb(240, 240, 240);
  background: #202020;
  margin: 0.375rem;
  display: flex;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 5px;
  padding-right: 10px;
}

.habit:hover {
  transition: 0.3s ease;
  transform: scale(1.02);
}

.habit h4 {
  font-weight: 350;
}

.habit h4:hover, .habit a:hover, .habit button:hover  {
  transition: 0.4s ease;
  color: rgb(4, 216, 181);
  cursor: pointer;
}

.habit:hover {
  transition: 0.5s ease;
  /* border-image-slice: 1;
  border-image-source: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 68, 124, 0.527) 50%, 
    rgba(255, 255, 255, 0) 100%
  ); */

  /* transform: scale(1.01); */
}
  

.habit-link {
  width: 1.25rem;
  cursor: pointer;
  padding-right: 0.625rem;
}

.habit-delete {
  padding: 5px;
}

.habit-delete:hover, .habit-link:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
}

.toggle-img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}

.habit-name,
.habit-username {
  /* border: 2px solid yellow; */
  padding: 0;
  margin: 0;
  gap: 0;
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  text-align: left;
}

.habit-username {
  font-size: 0.75rem;
  font-weight: 600;
  color: #c2c2c2;
}

.habit-div {
  display: flex; align-items: center; width: 100%; justify-content: space-between;
}

.habit-left {
  border: 2px dashed lightpink;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habit-mid {
  /* border: 2px dashed yellow; */
  width: 55%;
  display: flex; flex-direction: column;
  height: 100%;
  margin-left: 5px;
}

.habit-right {
  /* border: 2px dashed lightblue; */
  /* width: 40%; */
  display: flex;
  justify-content: flex-end;
  height: 100%;
  gap: 0.375rem;
  /* margin-right: auto; */
}

.habit-right p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.2;
}

.friends span,
.pending-users span {
  font-weight: 500;
  font-size: 1;
}

.friends, .pending-users {
  /* border: 2px dashed lightblue; */
  display: flex; gap: 1rem; justify-content: flex-start; flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  margin: 0px 50px 0px 50px;
  text-align: center;
  /* align-items: center; */
}

.friends-page {
  display: flex; align-items: center; justify-content: center;
  width: 100%;
}

.friends-left, .friends-search {
  display: flex;
  align-items: top;
  margin-top: 40px;
}
 
.friends-search {
  flex-direction: column; align-items: center;
  width: 300;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #171717;
}

.search-users {
  width: 300px;
  height: 30px;
  background-color: transparent;
  color: whitesmoke;
  background: #121212;
  border: none;
  border-radius: 12px;
  font-family: 'Manrope';
  font-size: 16px;
  text-align: center;
  opacity: 95%;
  margin-bottom: 20px;
  appearance: textfield;
  -webkit-appearance: textfield;
}

.search-users:focus {
  /* border: 1px solid #16f8bf; */
  outline: none;
  /* outline: 1px solid rgba(45, 253, 236, 0.438); */
  background-color: #282828;
}

.login input::placeholder, .search-users::placeholder {
  color: #acacac; 
  opacity: 1; 
  font-style: italic;
  font-family: 'Manrope';
}

.login input:focus {
  outline: none;
  border: none;
  background-color: #282828;
}

.search-user-card, .pending-user-card {
  background-color: #1f1f1f;
  padding: 5px;
  margin: 6px;
  border-radius: 14px;
  display: flex;
  /* flex-direction: column; */
  /* text-align: left; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 250px;
}

.search-user-card-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: 1px dashed yellow; */
  height: 100%;
  width: 80%;
  margin-left: 10px;
}

.search-user-card-right {
  width: 10%;
  margin-left: 10px;
  /* border: 1px dotted yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.search-user-card:hover, .friend-card:hover, .pending-user-card:hover {
  transition: 0.3s ease;
  scale: 1.02;
} */

.friend-card p, .pending-user-card p {
  padding: 0;
  margin: 2px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #ececec;
}

.add-friend-button, .remove-friend-button, .pending-user-card button {
  border: 2px;
  background-color: transparent;
  color: white;
  font-family: 'Manrope';
}

.add-friend-button:hover, .remove-friend-button:hover, .pending-user-card button:hover {
  color: #f44336;
  transition: 0.7s ease;
}

.completion-circle {
  height: 100%;
  width: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer; /* Make it clear it's interactive */
}

.completion-circle:hover {
  transition: 0.3s ease;
  transform: scale(1.05);
}

.circle-ring {
  background-color: rgb(90, 90, 90);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  background: #191919;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-dasharray: 113; /* Circumference for r=18: 2 * π * 18 ≈ 113 */
  stroke-dashoffset: 113; /* Start invisible */
  stroke-width: 3px;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.calendar circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-dasharray: 107; /* Circumference for r=18: 2 * π * 18 ≈ 113 */
  stroke-dashoffset: 107; /* Start invisible */
  stroke-width: 4px;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.completion-circle:hover:not(.completed) circle {
  stroke-dashoffset: 0;
}

.completion-circle.completed circle {
  stroke-dashoffset: 0;
  animation: complete 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.completion-circle:not(.completed) circle {
  stroke-dashoffset: 113;
  animation: uncomplete 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes complete {
  0% {
    stroke-dashoffset: 113;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes uncomplete {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 113;
  }
}

.calendar header {
  height: 15%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.days {
  display: grid; 
  grid-template-columns: repeat(7, minmax(0, 1fr));
  /* margin-top: 0.5rem;  */
  margin-bottom: 10px;
  font-size: 0.875rem; 
  width: 90%;
  text-align: center;
  color:#a1a1a1;
}

.calendar-grid {
  width: 90%;
  height: 70%;
  display: grid; 
  grid-template-columns: repeat(7, minmax(0, 1fr)); 
  font-size: 0.875rem; 
  text-align: center;
  background-color: transparent;
  margin-left: -13px;
  margin-top: -10px;
}

.completion-circle-calendar {
  height: 100%;
  width: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer; 
}

.completion-circle-calendar:hover {
  transition: 0.4s ease;
  transform: scale(1.05);
}

.circle-ring-calendar {
  background-color: rgb(107, 107, 107);
  height: 36px;
  width: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle-calendar {
  background: #171717;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-calendar {
  fill: none;
  stroke: url(#GradientColor);
  stroke-dasharray: 107; /* Circumference for r=18: 2 * π * 18 ≈ 113 */
  stroke-dashoffset: 107; /* Start invisible */
  stroke-width: 2.5px;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.completion-circle-calendar:hover:not(.completed) circle {
  stroke-dashoffset: 0;
}

.completion-circle-calendar.completed circle {
  stroke-dashoffset: 0;
  animation: complete 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.completion-circle-calendar:not(.completed) circle {
  stroke-dashoffset: 101;
  animation: uncomplete 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.habit-categories {
  /* border: 2px solid #95f7d6; */
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.habit-categories h1 {
  margin: 0px 30px 0px 30px;
  padding: 5px 10px 5px 10px;
  /* border: 2px solid #f3467a; */
}

.create-habit-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.create-habit-form input, .create-habit-form select {
  border-radius: 8px;
  font-family: 'Manrope';
  height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #252525;
  color: white;
  border: none;
  width: 200px;
}

/* .create-habit-form input:focus, .create-habit-form select:focus {
  border: none;
  outline: none;
  border-color: #00a58f85;
} */

.create-habit-button button {
  background-color: white ;
}

/* .create-habit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.create-habit-form button {
  align-self: center;
  border-radius: 5px;
  
  height: 25px;
  height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  font-family: 'Manrope';
  font-weight: 700;
  margin-top: 15px;
  border: 2px solid #1f1f1f;
}

.close-window {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Manrope';
  cursor: pointer;
  font-size: 12px;
}

.calendar-btn {
  cursor: pointer;
  color: rgb(200, 200, 200);
  border: 1px solid transparent;
  margin-bottom: 2px;
  background: transparent;
  font-size: 24px;
  font-family: 'Manrope', sans-serif;
  transition: 0.3s ease;
}

.calendar-btn:hover {
  color: #1ddab1;
  transform: scale(1.1);
}

.calendar-btn.prev {
  margin-right: 0px;
}

.calendar-btn.next {
  margin-left: 0px;
}

.calendar-title {
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
}

.create-habit-form .cancel {
  border: none;
  background-color: transparent;
  color: rgb(250, 108, 120);
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: -10px;
  margin-bottom:20px;
}

.cancel:hover {
  color:#6cda1d;
  transition: 0.8s ease;
}

.synced-user {
  /* border: 1px solid #262626; */
  width: 250px;
  border-radius: 12px;
  text-align: center;
  height: 49px;
  display: flex;
  margin-bottom: 12px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-left: 10px;
  padding-bottom: 4px;
  padding-top: 2px;
}

.synced-user img:hover {
  transform: scale(1.15);
  transition: 0.3s ease;
}

.synced-user:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.synced-user-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 1px dashed #1ddab1; */
  width: 70%;
  height: 90%;
  margin-top: -3px;
}

.synced-user-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  /* border: 1px dashed #1ddab1; */
}

.synced-user p {
  font-size: 14px;
  margin: 0;
  margin-top: -5px;
}

.synced-user h4 {
  margin: 3px;
  font-weight: 600;
}

.synced-users {
  min-height: 388px;
  height: 100%;
  padding-bottom: 12px;
}

.add-user:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

.friend-habits {
    border: 2px dashed lightcyan;
}

.friends-left {
  display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 2rem;
  /* width: 50%; */
  /* border: 2px dashed cyan; */
}

.friend-info {
  /* border: 1px dashed lightblue; */
  display: flex; flex-direction: column; align-items: flex-start;
}

.friend-shared-habits {
  display: flex; flex-wrap: wrap; justify-content: flex-start;
  margin-top: 2px;
  width: 100%;
  /* border: 1px dashed yellow; */
}

.friend-card {
  /* border: 1px solid #272727; */
  padding: 6px;
  background-color: #212121;
  border-radius: 5px;
  /* width: 300px; */
  margin-bottom: 0px;
  /* height: 62px; */
}

.friend-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.shared-habit {
  /* border: 1px dashed lightgreen; */
  background-color: #121212;
  padding: 3px 15px 3px 15px !important;
  border-radius: 6px;
  margin: 2px 5px 3px 5px !important;
  font-size: 14px;
  color: rgb(230, 230, 230);
}

.shared-habit:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.friend-info h3 {
  margin: 0px;
  /* margin-top: -15px; */
  display: flex; align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}

.sync-habit-small {
  width: 18px;
  margin-bottom: -4px;
  margin-left: 10px;
}

.friends-list {
  /* border: 2px dashed lightblue; */
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  border-radius: 14px;
  /* background-color: #171717; */
  margin-top: 25px;
  padding: 25px;
  width: 700px;
}

.friends-list h2 {
  align-self: flex-start;
  margin-left: 20px;
  font-weight: 700;
}