@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #F0F0F0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.habit {
  background-color: #1F1F1F;
  border-radius: 20px;
  width: 500px;
  height: 150px;
  color: #F0F0F0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  display: flex;
}

.privacy {
  margin-top: 35px;
  margin-bottom: -15px;
}

.habit-id {
  font-size: 12px;
  margin-top: -15px;
}

.habits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  /* border: 2px solid white; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center;  */
}

.left {
  /* border: 2px solid blue; */
  width: 50%;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center;  */
}